<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agile.repository.MyRepository">
    <select id="findOne3" resultType="com.agile.repository.entity.SysApiEntity">
        select *
        from sys_api
        where sys_api_id = #{param}
    </select>
</mapper>